html, body {
  height: 100%;
  width: 100%;
}

.dropdown-wrap {
  float: left;
  margin-right: 20px;
}

.dropdown {
  position: relative;
}
.dropdown .dropdownSelectedItem {
  display: block;
  width: 200px;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
  font-size: 14px;
  line-height: 20px;
  background: #fff;
}
.dropdown .dropdownSelectedItem input {
  cursor: default;
  border: 0;
  width: 100%;
  padding: 0;
}
.dropdown .dropdownBox {
  position: absolute;
  left: 0;
  top: 28px;
  width: 200px;
  height: 100px;
  padding: 5px;
  border: 1px solid #ddd;
  background: #fff;
  border-top: 0;
  overflow: auto;
}
.dropdown .dropdownSearch input {
  padding: 5px;
  width: 182px;
  border: 1px solid #ddd;
}
.dropdown .dropdownGroup > span {
  font-size: 14px;
  display: block;
}
.dropdown .dropdownItem {
  cursor: pointer;
  padding-left: 25px;
}
.dropdown .dropdownItem.hover {
  background: blue;
}

.dropdownBox-enter {
  opacity: 0.01;
}
.dropdownBox-enter.dropdownBox-enter-active {
  opacity: 1;
  transition: opacity 0.3s;
}

.dropdownBox-leave {
  opacity: 1;
  transition: opacity 0.3s;
}
.dropdownBox-leave.dropdownBox-leave-active {
  opacity: 0.01;
}
